.main-page{
    display: none;
}
.logging-page{
    display: block;
}
.login-section {
     height: 100%;
     padding-top: 10%;
     text-align: center;
     background: #fff;
     display: none;
 }
.videoDiv{
    width: 300px;
    height: 300px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}
.signup-section {
    height: 100%;
    padding-top: 10%;
    text-align: center;
    background: #fff;
    display: none;
}

.login-elements{
    padding-bottom: 10px;
}
#qr-canvas{
    display : none;
}
/*#confirm_order_button{
    visibility : hidden;
}*/
